@tailwind base;
@tailwind components;
@tailwind utilities;

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
  border-radius: 5px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 5px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

:root {
  --azul-claro: #93bcc1;
  --azul-escuro: #628b8f;
  --vermelho: #e6552e;
  --laranja: #f0a655;
  --creme-bege: #e8dcb5;
}

* {
  padding: 0px;
  margin: 0px;
  font-family: "Red Hat Display", sans-serif;
  font-weight: bold;
  text-decoration: none;
}
a:hover {
  text-decoration: none;
  color: inherit;
}
.banner {
  background-image: url(./assets/azul_claro.svg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}
.banner_textos {
  padding: 13rem 4rem;
}
.banner_titulo {
  font-weight: bold;
}
.banner_saibaMais {
  background-color: var(--laranja);
  color: #000;
}

.banner_imagemPrinc {
  max-width: 100%;
  align-self: center;
}
.centraliza {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-image: url(./assets/fundo_bolas.svg);
  background-size: cover;
}
.gradiente {
  /* From https://css.glass */
  background: rgb(237, 237, 237);
  background: linear-gradient(
    4deg,
    rgba(237, 237, 237, 1) 0%,
    rgba(255, 255, 255, 1) 70%
  );
  border: #f4f4f4 solid 2px;
}
@media (max-width: 768px) {
  .banner {
    grid-template-columns: 1fr;
  }
  .banner_textos {
    padding: 8rem 3rem;
  }
  .banner_imagemPrinc {
    max-width: 80%;
    justify-self: center;
  }
}

/* Banner 2: Quem somos*/
.container-fluid {
  padding: 40px;
}

.banner_titulo_dois {
  padding-top: 40px;
  text-align: center;
}

.section_dois {
  background-color: #faf6e9e0;
}
/* tom mais claro do creme bege #faf6e9e0*/

.sub_somos {
  align-self: center;
}

/*Footer*/
.creator {
  padding-top: 60px;
}

.centro {
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url(./assets/fundo_bolas_laranja_v2.svg);
  background-size: cover;
}

.palavra {
  margin-right: 150px;
}

.palavra2 {
  margin-right: 100px;
}

.btn-primary {
  @apply bg-l-Abobora text-white p-1 px-2 ml-auto rounded-lg hover:cursor-pointer hover:bg-opacity-80;
}
.btn-red {
  @apply bg-red-700 text-white p-1 px-2 ml-auto rounded-lg hover:cursor-pointer hover:bg-opacity-80;
}
.input-default {
  @apply rounded-lg p-2 bg-neutral-100;
}
.input-error {
  @apply rounded-lg p-2 outline outline-red-500;
}
.label-default {
  @apply absolute top-2.5 left-2 text-neutral-800 text-xs -translate-y-7 duration-200 peer-placeholder-shown:text-sm peer-placeholder-shown:-translate-y-0 peer-focus:-translate-y-7 peer-placeholder-shown:text-opacity-50 peer-focus:text-xs peer-focus:text-opacity-100 select-none hover:cursor-text;
}
.link-default {
  @apply border-b-2 border-transparent hover:border-l-Abobora hover:text-l-Abobora;
}
